.menubar-1280 {
  align-items: flex-start;
  background-color: var(--cinder);
  display: flex;
  margin-top: 2033px;
  min-width: 1440px;
}

.overlap-group9 {
  background-color: var(--cinder);
  height: 68px;
  margin-top: 0;
  position: relative;
  width: 1440px;
}

.menu {
  align-items: flex-start;
  display: flex;
  height: 20px;
  left: 282px;
  min-width: 231px;
  position: absolute;
  top: 24px;
}

.cases {
  letter-spacing: 0;
  min-height: 20px;
  min-width: 42px;
}

.tab {
  letter-spacing: 0;
  margin-left: 24px;
  min-height: 20px;
  min-width: 41px;
}

.tab-1 {
  letter-spacing: 0;
  margin-left: 24px;
  min-height: 20px;
}

.overlap-group2 {
  height: 68px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.divider {
  height: 1px;
  left: 0;
  position: absolute;
  top: 67px;
  width: 1440px;
}

.line-3 {
  height: 68px;
  left: 241px;
  position: absolute;
  top: 0;
  width: 1px;
}

.line-3-1 {
  height: 68px;
  left: 1270px;
  position: absolute;
  top: 0;
  width: 1px;
}

.icons-outline-24px-sound-on {
  height: 24px;
  left: 1311px;
  position: absolute;
  top: 22px;
  width: 24px;
}

.frame-2 {
  align-items: center;
  display: flex;
  height: 20px;
  left: 1367px;
  min-width: 33px;
  position: absolute;
  top: 24px;
}

.ru {
  letter-spacing: 0;
  min-height: 20px;
  min-width: 21px;
}

.polygon-1 {
  height: 5px;
  margin-left: 6px;
  margin-top: 0;
  width: 6px;
}

.group-13 {
  align-items: flex-start;
  display: flex;
  height: 40px;
  left: 873px;
  min-width: 384px;
  position: absolute;
  top: 14px;
}

.group-3 {
  align-items: center;
  display: flex;
  min-width: 175px;
}

.lindsey-owsen {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 4.0px;
  min-height: 24px;
  min-width: 121px;
  white-space: nowrap;
}

.overlap-group1 {
  height: 36px;
  margin-left: 16px;
  position: relative;
  width: 36px;
}

.ellipse-2 {
  height: 32px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 4px;
  width: 32px;
}

.overlap-group {
  align-items: flex-end;
  background-color: var(--royal-blue);
  border-radius: 8px;
  display: flex;
  height: 16px;
  left: 20px;
  min-width: 16px;
  position: absolute;
  top: 0;
}

.number {
  letter-spacing: 0;
  min-height: 15px;
  text-align: center;
  width: 16px;
}

.price {
  align-self: center;
  color: var(--jaffa);
  font-family: var(--font-family-cera_pro-medium);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  margin-left: 22px;
  margin-top: 1.0px;
  min-height: 25px;
  min-width: 56px;
}

.logo {
  align-items: center;
  display: flex;
  height: 32px;
  left: 40px;
  min-width: 162px;
  position: absolute;
  top: 18px;
}

.logo-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 32px;
  padding: 0 0.1px;
  width: 32px;
}

.flex-row {
  align-items: flex-start;
  display: flex;
  margin-left: 0.6px;
  margin-top: 9px;
  min-width: 28px;
}

.ellipse-20 {
  align-self: flex-end;
  background-color: var(--white);
  border-radius: 1.5px;
  height: 3px;
  width: 3px;
}

.ellipse-16 {
  background-color: var(--white);
  border-radius: 7px;
  height: 14px;
  margin-left: 4px;
  width: 14px;
}

.ellipse-20-1 {
  background-color: var(--white);
  border-radius: 1.5px;
  height: 3px;
  margin-left: 4px;
  margin-top: 0;
  width: 3px;
}

.ellipse-17 {
  height: 14px;
  margin-left: 6.76px;
  margin-top: 9px;
  width: 25px;
}

.ellipse-17-1 {
  height: 14px;
  margin-right: 6.76px;
  margin-top: 4px;
  width: 25px;
}

.group-12 {
  height: 22px;
  margin-bottom: 4.77px;
  margin-left: 12px;
  width: 118px;
}

.primary-40px-default {
  align-items: center;
  background-color: var(--royal-blue);
  border-radius: 10px;
  display: flex;
  height: 40px;
  margin-left: 24px;
  min-width: 105px;
  padding: 0 24px;
}

.textlabel {
  letter-spacing: 0;
  min-height: 20px;
  min-width: 57px;
}

.primary-40px-default.primary-40px-default-1 {
  height: 48px;
  margin-left: 74px;
  min-width: 159px;
}

.primary-40px-default.primary-40px-default-1 .textlabel {
  min-width: 111px;
}

.primary-40px-default.primary-40px-default-2 {
  height: 48px;
  margin-left: unset;
  margin-top: 40px;
  min-width: 193px;
}

.primary-40px-default.primary-40px-default-2 .textlabel {
  min-width: 145px;
}

.primary-40px-default.primary-40px-default-3 {
  height: 48px;
  margin-left: 1px;
  min-width: 233px;
}

.primary-40px-default.primary-40px-default-3 .textlabel {
  min-width: 185px;
}

.btn-icon-active {
  align-items: center;
  background-color: var(--white);
  border-radius: 12px;
  display: flex;
  height: 48px;
  min-width: 48px;
  padding: 0 12px;
}

.icons-outline-24px {
  height: 24px;
  width: 24px;
}

.btn-icon-active.btn-icon-default {
  background-color: var(--astronaut);
  margin-top: 22px;
}

.items::-webkit-scrollbar {
  display: none;
  width: 0;
}

.items {
  align-items: flex-start;
  display: flex;
  height: 192px;
  margin-left: 32px;
  overflow: hidden;
  overflow-x: scroll;
  position: relative;
  width: 1384px;
}

.block-1-1 {
  align-items: flex-start;
  background-color: var(--astronaut);
  border-radius: 16px;
  display: flex;
  overflow: hidden;
  width: 144px;
}

.overlap-group-1 {
  height: 192px;
  position: relative;
  width: 144px;
}

.shadow {
  height: 120px;
  left: 16px;
  position: absolute;
  top: 44px;
  width: 120px;
}

.gradient {
  height: 192px;
  left: 0;
  position: absolute;
  top: 0;
  width: 144px;
}

.blur {
  -webkit-backdrop-filter: blur(50px) brightness(100%);
  backdrop-filter: blur(50px) brightness(100%);
  background-color: var(--white);
  border-radius: 16px;
  height: 192px;
  left: 0;
  position: absolute;
  top: 0;
  width: 144px;
}

.text-1 {
  left: 16px;
  letter-spacing: 0;
  position: absolute;
  top: 16px;
  width: 112px;
}

.ellipse-1 {
  background-color: var(--jaffa);
  border-radius: 3px;
  height: 6px;
  left: 12px;
  position: absolute;
  top: 174px;
  width: 6px;
}

.block-1-1.block-1,
.block-1-1.block-1-2 {
  margin-left: 16px;
}

.block-1-1.block-1-2 .span {
  color: var(--medium-purple);
  font-family: var(--font-family-cera_pro-regular);
  font-size: var(--font-size-xs);
  font-weight: 400;
}

.block-1-1.block-1-2 .ellipse-1 {
  background-color: var(--medium-purple);
}

.weapon-256x256-1 {
  background-position: 50% 50%;
  background-size: cover;
  height: 120px;
  left: 12px;
  position: absolute;
  top: 44px;
  width: 120px;
}

.weapon-256x256-1.weapon-256x256-ife-marble-fade {
  background-position: 50% 50%;
  background-size: cover;
  height: 40px;
  width: 40px;
}

.weapon-256x256-1.weapon-256x256-glock-18-vogue {
  background-position: 50% 50%;
  background-size: cover;
  height: 60px;
  width: 60px;
}

.block-1-3-1 {
  align-items: flex-start;
  background-color: var(--astronaut);
  border-radius: 16px;
  display: flex;
  margin-left: 16px;
  overflow: hidden;
  width: 144px;
}

.overlap-group-2 {
  height: 192px;
  position: relative;
  width: 144px;
}

.shadow-1 {
  height: 120px;
  left: 16px;
  position: absolute;
  top: 44px;
  width: 120px;
}

.gradient-1 {
  height: 192px;
  left: 0;
  position: absolute;
  top: 0;
  width: 144px;
}

.blur-1 {
  -webkit-backdrop-filter: blur(50px) brightness(100%);
  backdrop-filter: blur(50px) brightness(100%);
  background-color: var(--white);
  border-radius: 16px;
  height: 192px;
  left: 0;
  position: absolute;
  top: 0;
  width: 144px;
}

.stat-trak-mac-10-n-1 {
  left: 16px;
  letter-spacing: 0;
  position: absolute;
  top: 16px;
  width: 112px;
}

.ellipse-1-1 {
  background-color: var(--medium-purple);
  border-radius: 3px;
  height: 6px;
  left: 12px;
  position: absolute;
  top: 174px;
  width: 6px;
}

.block-1-3-1.block-1-3-3 .ellipse-1-1,
.block-1-3-1.block-1-3 .ellipse-1-1 {
  background-color: var(--jaffa);
}

.block-1-3-1.block-1-3-4 .ellipse-1-1 {
  background-color: var(--dodger-blue);
}

.weapon-256x256-ert-eagle-blaze {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  min-width: 92px;
}

.weapon-desert-eagle-blaze {
  height: 92px;
  margin-top: -0.27px;
  object-fit: cover;
  width: 92px;
}

.fact {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 72px;
  min-height: 112px;
  width: 159px;
}

.x867-k,
.x135-k,
.number-1 {
  letter-spacing: 0.96px;
  line-height: 56px;
  min-height: 56px;
  white-space: nowrap;
}

.text {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 8px;
  min-height: 48px;
  width: 159px;
}

.group-24 {
  align-items: flex-start;
  display: flex;
  height: 25px;
  left: 59px;
  min-width: 25px;
  position: absolute;
  top: 56px;
}

.group-24.group-24-1 {
  left: 15px;
  top: 12px;
}

.group-23-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 25px;
  width: 3px;
}

.ellipse-29 {
  background-color: var(--white);
  border-radius: 1.5px;
  height: 3px;
  width: 3px;
}

.ellipse-2-1 {
  background-color: var(--white);
  border-radius: 1.5px;
  height: 3px;
  margin-top: 8px;
  opacity: 0.4;
  width: 3px;
}

.group-23-1.group-2,
.group-23-1.group-2-1,
.group-23-1.group-2-2,
.group-23-1.group-2-3 {
  margin-left: 8px;
}

.group-23-1.group-2-1 .ellipse-29,
.group-23-1.group-2-2 .ellipse-29,
.group-23-1.group-2-3 .ellipse-29,
.group-23-1.group-2 .ellipse-29 {
  opacity: 0.4;
}

.group-23-1.group-2-1 .ellipse-2-1,
.group-23-1.group-2-2 .ellipse-2-1,
.group-23-1.group-2-3 .ellipse-2-1,
.group-23-1.group-2 .ellipse-2-1 {
  opacity: unset;
}

.feature-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 192px;
  width: 367px;
}

.full-transparency {
  letter-spacing: 0;
  line-height: 36px;
  min-height: 36px;
  white-space: nowrap;
}

.text-13 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 12px;
  min-height: 144px;
  width: 367px;
}

.feature-1.feature-3 {
  margin-top: 56px;
  min-height: 144px;
}

.feature-1.feature-3 .text-13,
.feature-1.feature-4 .text-13 {
  min-height: 96px;
}

.feature-1.feature-2 {
  min-height: 120px;
}

.feature-1.feature-2 .text-13 {
  min-height: 72px;
}

.feature-1.feature-4 {
  margin-top: 128px;
  min-height: 144px;
}

.block-2-var-3 {
  align-items: center;
  background-color: var(--astronaut);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  min-height: 130px;
  padding: 16px 0;
  width: 214px;
}

.textlabel-1 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 4px;
  min-height: 24px;
  white-space: nowrap;
  width: 174px;
}

.bottom {
  align-items: center;
  display: flex;
  margin-top: 32px;
  min-width: 174px;
}

.coins {
  align-items: center;
  display: flex;
  height: 38px;
  min-width: 68px;
}

.group-4 {
  background-size: 100% 100%;
  height: 24px;
  width: 24px;
}

.number-2 {
  letter-spacing: 0;
  margin-left: 8px;
  min-height: 38px;
  min-width: 36px;
}

.icons-outline-24px-sound-lock {
  height: 24px;
  margin-left: 78px;
  width: 24px;
}

.block-2-var-3.block-2-var-1 {
  margin-top: 16px;
  min-height: 178px;
}

.block-2-var-3.block-2-var-1 .textlabel-1 {
  min-height: 72px;
  white-space: unset;
}

.block-2-var-3.block-2-var-1 .coins {
  min-width: 78px;
}

.block-2-var-3.block-2-var-1 .number-2 {
  min-width: 46px;
}

.block-2-var-3.block-2-var-1 .icons-outline-24px-sound-lock {
  margin-left: 68px;
}

.block-2-var-1-2 {
  align-items: center;
  background-color: var(--astronaut);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  min-height: 202px;
  padding: 16px 0;
  width: 214px;
}

.textlabel-3 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 4px;
  min-height: 96px;
  width: 174px;
}

.bottom-1 {
  align-items: center;
  display: flex;
  margin-top: 32px;
  min-width: 174px;
}

.coins-1 {
  align-items: center;
  display: flex;
  height: 38px;
  min-width: 72px;
}

.mask-group {
  height: 24px;
  width: 25px;
}

.x25 {
  letter-spacing: 0;
  margin-left: 8px;
  min-height: 38px;
  min-width: 40px;
}

.icons-outline-24px-sound-lock-1 {
  height: 24px;
  margin-left: 74px;
  width: 25px;
}

.block-2-var-1-2.block-2-var-1-1,
.block-2-var-1-2.block-2-var-1-1-1 {
  margin-top: 16px;
  min-height: 130px;
}

.block-2-var-1-2.block-2-var-1-1-1 .textlabel-3,
.block-2-var-1-2.block-2-var-1-1 .textlabel-3 {
  min-height: 24px;
  white-space: nowrap;
}

.block-2-var-1-2.block-2-var-1-1-1 .coins-1 {
  min-width: 82px;
}

.block-2-var-1-2.block-2-var-1-1-1 .x25 {
  min-width: 50px;
}

.block-2-var-1-2.block-2-var-1-1-1 .icons-outline-24px-sound-lock-1 {
  margin-left: 64px;
}

.block-2-var-1-2.block-2-var-1-3 {
  min-height: 154px;
}

.block-2-var-1-2.block-2-var-1-3 .textlabel-3 {
  min-height: 48px;
}

.block-2-var-1-2.block-2-var-1-3 .coins-1 {
  min-width: 84px;
}

.block-2-var-1-2.block-2-var-1-3 .x25 {
  min-width: 52px;
}

.block-2-var-1-2.block-2-var-1-3 .icons-outline-24px-sound-lock-1 {
  margin-left: 62px;
}

.block-2-var-1-2.block-2-var-1-1 .coins-1 {
  min-width: 77px;
}

.block-2-var-1-2.block-2-var-1-1 .x25 {
  min-width: 45px;
}

.block-2-var-1-2.block-2-var-1-1 .icons-outline-24px-sound-lock-1 {
  margin-left: 68px;
}

.main {
  align-items: flex-start;
  background-color: var(--cinder);
  display: flex;
  height: 3686px;
  overflow: hidden;
  width: 1440px;
}

.overlap-group12 {
  align-items: flex-end;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6193288fc1b2ee08507259c7/releases/6195edb5430aae3e888df280/img/bg@1x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-left: -3576px;
  margin-top: -3194.04px;
  min-height: 8001px;
  padding: 1161.0px 2984.0px;
  position: relative;
  width: 8000px;
}

.item-stories::-webkit-scrollbar {
  display: none;
  width: 0;
}

.item-stories {
  align-items: flex-start;
  display: flex;
  height: 192px;
  margin-right: 4.0px;
  margin-top: 28px;
  min-width: 1396px;
  overflow-x: scroll;
  position: relative;
}

.btns {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 188px;
  position: relative;
  width: 48px;
}

.overlap-group14 {
  height: 760px;
  margin-right: 42.0px;
  margin-top: 180px;
  position: relative;
  width: 1358px;
}

.overlap-group13 {
  height: 716px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1358px;
}

.weapon-3 {
  align-items: flex-start;
  background-color: var(--cinder);
  border-radius: 36px;
  display: flex;
  height: 72px;
  left: 492px;
  min-width: 72px;
  padding: 14px;
  position: absolute;
  top: 280px;
}

.weapon-1 {
  align-items: flex-start;
  background-color: var(--cinder);
  border-radius: 74px;
  display: flex;
  height: 148px;
  left: 666px;
  min-width: 148px;
  padding: 26.7px 26.7px;
  position: absolute;
  top: 568px;
}

.block-1-4 {
  align-items: flex-start;
  display: flex;
  height: 627px;
  justify-content: flex-end;
  left: 0;
  min-width: 1358px;
  position: absolute;
  top: 0;
}

.case-main-1 {
  height: 627px;
  width: 648px;
}

.col-9 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 403px;
  margin-left: 10px;
  width: 672px;
}

.frame-11 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 87px;
  min-height: 220px;
  width: 672px;
}

.text-19 {
  color: var(--jaffa);
  font-family: var(--font-family-cera_pro-medium);
  font-size: var(--font-size-s);
  font-weight: 500;
  letter-spacing: 0.32px;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}

.frame-10 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  min-height: 184px;
  width: 672px;
}

.text-20 {
  color: var(--white);
  font-family: var(--font-family-gt_walsheim_pro-bold);
  font-size: var(--font-size-xxxl);
  font-weight: 700;
  letter-spacing: 1.12px;
  line-height: 60px;
  min-height: 120px;
  width: 672px;
}

.text-21 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 16px;
  min-height: 48px;
  width: 374px;
}

.frame-3 {
  align-items: center;
  background-color: var(--sea-green);
  border-radius: 10px;
  display: flex;
  height: 48px;
  margin-top: 48px;
  min-width: 189px;
  padding: 0 20px;
}

.frame {
  height: 24px;
  width: 24px;
}

.login-on-steam {
  letter-spacing: 0;
  margin-left: 10px;
  min-height: 20px;
  min-width: 111px;
}

.weapon-2 {
  align-items: flex-start;
  background-color: var(--cinder);
  border-radius: 48px;
  display: flex;
  height: 96px;
  left: 0;
  min-width: 96px;
  padding: 16.5px 16.5px;
  position: absolute;
  top: 664px;
}

.facts {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 112px;
  margin-left: 538.38px;
  margin-top: 16px;
  min-width: 850px;
  position: relative;
}

.fact-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 112px;
  width: 159px;
}

.percent {
  color: var(--jaffa);
  font-family: var(--font-family-gt_walsheim_pro-medium);
  font-size: var(--font-size-xxl);
  font-weight: 500;
  letter-spacing: 0.96px;
  line-height: 56px;
  min-height: 56px;
  white-space: nowrap;
}

.text-3 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 8px;
  min-height: 48px;
  width: 159px;
}

.freecase {
  align-items: center;
  background-color: var(--astronaut);
  border-radius: 24px;
  display: flex;
  height: 188px;
  margin-right: 40.0px;
  margin-top: 100px;
  min-width: 1360px;
  padding: 0 38.2px;
  position: relative;
}

.overlap-group10 {
  align-self: flex-end;
  height: 293px;
  margin-bottom: -104.87px;
  position: relative;
  width: 1019px;
}

.case-free-2-1 {
  height: 293px;
  left: 545px;
  position: absolute;
  top: 0;
  width: 474px;
}

.text-block {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 108px;
  position: absolute;
  top: 40px;
  width: 558px;
}

.free-case {
  letter-spacing: 0.80px;
  line-height: 48px;
  min-height: 48px;
  white-space: nowrap;
}

.text-7 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 12px;
  min-height: 48px;
  width: 558px;
}

.conditions {
  align-items: flex-end;
  display: flex;
  height: 404px;
  margin-right: 40.0px;
  margin-top: 244px;
  min-width: 1360px;
}

.flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 404px;
  width: 367px;
}

.text-12 {
  letter-spacing: 0.80px;
  line-height: 48px;
  min-height: 96px;
  width: 367px;
}

.overlap-group3 {
  height: 157px;
  margin-top: 151px;
  position: relative;
  width: 315px;
}

.overlap-group-3 {
  border-radius: 52px;
  height: 104px;
  left: 0;
  position: absolute;
  top: 53px;
  width: 104px;
}

.group-14 {
  align-items: center;
  background-color: var(--royal-blue);
  border-radius: 52px;
  display: flex;
  height: 104px;
  left: 0;
  min-width: 104px;
  padding: 0 5px;
  position: absolute;
  top: 0;
}

.ellipse-22 {
  border: 2px solid var(--white);
  border-radius: 47px;
  height: 94px;
  opacity: 0.4;
  width: 94px;
}

.group-19 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6193288fc1b2ee08507259c7/releases/6193289815e250e3f453ad66/img/mask-group-8@2x.svg);
  background-size: 100% 100%;
  border-radius: 34px;
  height: 68px;
  left: 17px;
  position: absolute;
  top: 17px;
  width: 68px;
}

.overlap-group1-1 {
  border-radius: 12px;
  height: 96px;
  left: 64px;
  position: absolute;
  top: 0;
  width: 96px;
}

.rectangle-8 {
  background-color: var(--astronaut);
  border-radius: 12px;
  height: 96px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(-90.00deg);
  width: 96px;
}

.overlap-group-4 {
  border-radius: 4px;
  height: 40px;
  left: 8px;
  position: absolute;
  top: 48px;
  width: 40px;
}

.number-3 {
  left: 6px;
  letter-spacing: 0;
  position: absolute;
  top: 4px;
  width: 14px;
}

.number-4 {
  left: 26px;
  letter-spacing: 0;
  position: absolute;
  top: 21px;
  width: 7px;
}

.group-25 {
  align-items: flex-start;
  border-radius: 4px;
  display: flex;
  height: 40px;
  left: 0;
  min-width: 40px;
  padding: 0 0.3px;
  position: absolute;
  top: 0;
}

.vector-5 {
  height: 39px;
  margin-top: -0.21px;
  width: 38px;
}

.customer-support-1 {
  height: 33px;
  left: 53px;
  position: absolute;
  top: 10px;
  width: 33px;
}

.mask-group-1 {
  height: 117px;
  left: 211px;
  position: absolute;
  top: 25px;
  width: 104px;
}

.mask-group-2 {
  height: 120px;
  left: 247px;
  position: absolute;
  top: 21px;
  width: 68px;
}

.group-28 {
  align-items: center;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6193288fc1b2ee08507259c7/releases/6193289815e250e3f453ad66/img/mask-group-9@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 104px;
  left: 143px;
  min-width: 104px;
  padding: 0 8px;
  position: absolute;
  top: 38px;
}

.overlap-group2-1 {
  border: 1px solid #fffbffb2;
  border-radius: 44px;
  height: 88px;
  position: relative;
  width: 88px;
}

.no-weapons-1 {
  height: 28px;
  left: 47px;
  position: absolute;
  top: 47px;
  width: 28px;
}

.wallet-filled-money-tool-1 {
  height: 28px;
  left: 11px;
  position: absolute;
  top: 11px;
  width: 28px;
}

.overlap-group-5 {
  height: 60px;
  left: 14px;
  position: absolute;
  top: 14px;
  width: 60px;
}

.ellipse-30 {
  height: 31px;
  left: 30px;
  position: absolute;
  top: 0;
  width: 31px;
}

.ellipse-31 {
  height: 31px;
  left: 0;
  position: absolute;
  top: 30px;
  width: 31px;
}

.flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 92px;
  min-height: 392px;
  position: relative;
  width: 367px;
}

.flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 94px;
  min-height: 392px;
  position: relative;
  width: 367px;
}

.frame-14 {
  align-items: flex-start;
  display: flex;
  margin-right: 38.3px;
  margin-top: 200px;
  min-width: 1363px;
}

.left {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 296px;
  position: relative;
  width: 674px;
}

.text-block-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 208px;
  width: 674px;
}

.text-9 {
  letter-spacing: 0.80px;
  line-height: 48px;
  min-height: 144px;
  width: 674px;
}

.text-10 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 16px;
  min-height: 48px;
  width: 674px;
}

.right {
  align-items: flex-start;
  display: flex;
  height: 396px;
  margin-left: 16px;
  min-width: 674px;
}

.col-1 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 388px;
  position: relative;
  width: 214px;
}

.text-11 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 16px;
  min-height: 48px;
  width: 204px;
}

.col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  margin-top: 8px;
  min-height: 348px;
  position: relative;
  width: 214px;
}

.col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  margin-top: 8px;
  min-height: 300px;
  position: relative;
  width: 214px;
}

.promo {
  align-items: center;
  background-color: var(--astronaut);
  border-radius: 24px;
  display: flex;
  height: 188px;
  margin-right: 38.3px;
  margin-top: 171px;
  min-width: 1363px;
  padding: 0 38.3px;
  position: relative;
}

.overlap-group11 {
  align-self: flex-end;
  height: 281px;
  margin-bottom: -93px;
  position: relative;
  width: 1021px;
}

.promo-1 {
  height: 281px;
  left: 546px;
  position: absolute;
  top: 0;
  width: 474px;
}

.text-8 {
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 100px;
  width: 559px;
}

.promo-codes {
  left: 0;
  letter-spacing: 0.80px;
  line-height: 48px;
  position: absolute;
  top: 40px;
  white-space: nowrap;
  width: 559px;
}

.footer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-right: 44.0px;
  margin-top: 88px;
  min-height: 311px;
  width: 1356px;
}

.payment-systems {
  align-items: flex-start;
  display: flex;
  justify-content: flex-end;
  min-width: 1356px;
}

.badge-visa {
  height: 128px;
  width: 200px;
}

.badge-skrill {
  height: 128px;
  margin-left: 91px;
  width: 201px;
}

.badge {
  height: 128px;
  margin-left: 90px;
  width: 201px;
}

.divider-1 {
  height: 1px;
  margin-top: 8px;
  width: 1356px;
}

.footer-1 {
  align-items: flex-start;
  display: flex;
  height: 143px;
  margin-top: 31px;
  min-width: 1356px;
}

.left-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 137px;
  width: 304px;
}

.logo-2 {
  align-items: flex-start;
  display: flex;
  height: 56px;
  justify-content: flex-end;
  min-width: 276px;
}

.overlap-group1-2 {
  height: 57px;
  margin-top: -0.47px;
  position: relative;
  width: 56px;
}

.overlap-group-6 {
  height: 57px;
  left: 0;
  position: absolute;
  top: 0;
  width: 56px;
}

.ellipse-16-1 {
  height: 26px;
  left: 16px;
  position: absolute;
  top: 15px;
  width: 25px;
}

.ellipse-17-stroke {
  height: 25px;
  left: 12px;
  position: absolute;
  top: 32px;
  width: 44px;
}

.ellipse-17-stroke-1 {
  height: 25px;
  left: 0;
  position: absolute;
  top: 0;
  width: 44px;
}

.ellipse-20-2 {
  height: 6px;
  left: 4px;
  position: absolute;
  top: 35px;
  width: 6px;
}

.ellipse-20-3 {
  height: 6px;
  left: 47px;
  position: absolute;
  top: 16px;
  width: 7px;
}

.group-12-1 {
  align-self: center;
  height: 38px;
  margin-bottom: 8.35px;
  margin-left: 13px;
  width: 207px;
}

.text-18 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 33px;
  min-height: 48px;
  width: 304px;
}

.right-1 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  min-height: 123px;
  width: 1036px;
}

.menu-1 {
  align-items: flex-start;
  display: flex;
  height: 20px;
  min-width: 1036px;
}

.terms-of-use {
  letter-spacing: 0;
  min-height: 20px;
  min-width: 92px;
}

.privacy-policy {
  letter-spacing: 0;
  margin-left: 24px;
  min-height: 20px;
  min-width: 106px;
}

.contacts {
  letter-spacing: 0;
  margin-left: 24px;
  min-height: 20px;
  min-width: 66px;
}

.faq {
  letter-spacing: 0;
  margin-left: 24px;
  min-height: 20px;
}

.text-17 {
  color: var(--wild-blue-yonder);
  font-family: var(--font-family-cera_pro-regular);
  font-size: var(--font-size-xs);
  font-weight: 400;
  letter-spacing: 0;
  margin-top: 28px;
  min-height: 75px;
  width: 1036px;
}


@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@font-face {
  font-family: "Cera Pro-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.animaapp.com/CeraPro-Regular") format("opentype");
}
@font-face {
  font-family: "Cera Pro-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("https://fonts.animaapp.com/CeraPro-Medium") format("opentype");
}
@font-face {
  font-family: "GT Walsheim Pro-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("https://fonts.animaapp.com/GTWalsheimPro-Medium") format("truetype");
}
@font-face {
  font-family: "GT Walsheim Pro-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("https://fonts.animaapp.com/GTWalsheimPro-Bold") format("opentype");
}
@font-face {
  font-family: "Visby CF-DemiBold";
  font-style: normal;
  font-weight: 700;
  src: url("https://fonts.animaapp.com/VisbyCF-DemiBold") format("truetype");
}

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
}
